In [1]:
import pandas as pd

In [9]:
cmt_file = '/home/bupi/Documents/pdy/hs/dashboard/clean/comments/20200323_20200325.csv'
pst_file = cmt_file.replace('comments','posts')

cmtdf = pd.read_csv(cmt_file, nrows=10)
pstdf = pd.read_csv(pst_file, nrows=10)
display(cmtdf.head())
display(pstdf.head())
display(cmtdf.merge(pstdf, on='post_url'))

,post_id,c_id,n_id,profile_id,datetime,likes,comment_message,lex_found,post_url
0,25032020_0072,1,0,100004238449395,2020-03-24 13:01:38,1,á€¡á€™á€± á€…á€¯ á€á€€á€º á€›á€¾á€Šá€º á€€á€»á€”á€ºá€¸á€™á€¬ á€•á€«á€…á€± ğŸ™,NaN,https://www.facebook.com/7daynews/posts/315261...
1,25032020_0072,3,0,100046335742147,2020-03-24 13:02:29,2,Educatingpeopleisessential..Teachpeopletodofre...,NaN,https://www.facebook.com/7daynews/posts/315261...
2,25032020_0072,4,0,100040313773659,2020-03-24 13:02:37,2,ğŸ¥µ ğŸ¥µ ğŸ¥µ ....... á€€á€»á€±á€¸á€‡á€°á€¸á€á€„á€º á€œá€½á€¬ ....... á€”á€­á€¯á€„á€ºá€„á€¶á€á€±...,NaN,https://www.facebook.com/7daynews/posts/315261...
3,25032020_0072,5,0,100044448832921,2020-03-24 13:03:50,12,á€¡á€•á€¼á€±á€¬ á€€ á€…á€€á€±á€¬ á€œá€€á€ºá€á€½á€±á€· á€€ á€‡á€®á€¸ á€›á€½á€€á€º,NaN,https://www.facebook.com/7daynews/posts/315261...
4,25032020_0072,5,1,100045388926874,2020-03-24 13:14:18,6,AungSoe á€™á€„á€ºá€¸ á€•á€‘á€½á€±á€¸ á€…á€…á€ºá€á€½á€±á€¸ á€”á€²á€· á€á€±á€¬á€· á€€á€½á€¬ á€á€šá€º,á€…á€…á€ºá€á€½á€±á€¸,https://www.facebook.com/7daynews/posts/315261...

,page_name,post_url,comments,shares,love,wow,haha,sad,angry,thankful,likes,post_message,lex_found
0,AKonThi,https://www.facebook.com/AKonThiNEWS/posts/117...,33769,858,57029,1256,44,80,35,7,0,á€”á€­á€¯á€„á€ºá€„á€¶á€á€±á€¬á€º á á€¡á€á€­á€¯á€„á€ºá€•á€„á€ºá€á€¶ á€•á€¯á€‚á€¹á€‚á€­á€¯á€œá€º á€’á€±á€«á€º á€¡á€±á€¬á€„á€º...,NaN
1,MOI Webportal Myanmar,https://www.facebook.com/MOIWebportalMyanmar/p...,4605,272,9095,13,382,3,1949,5,0,COVID-19 á€›á€±á€¬á€‚á€« á€…á€±á€¬á€„á€·á€ºá€€á€¼á€•á€º á€€á€¼á€Šá€·á€ºá€›á€¾á€¯ á€™á€¾á€¯ á€”á€¾á€„á€·á€º á€•...,NaN
2,The Irrawaddy - Burmese Edition,https://www.facebook.com/theirrawaddyburmese/p...,76336,1443,94329,1271,290,89,118,28,0,á€•á€­á€¯á€¸ á€á€½á€±á€· á€œá€°á€”á€¬ á‚ á€¦á€¸ á€…á€­á€¯á€¸á€›á€­á€™á€º á€…á€›á€¬ á€™á€›á€¾á€­ á€•á€« áŠ á€á€á€„...,NaN
3,"Ministry of Health and Sports, Myanmar",https://www.facebook.com/MinistryOfHealthAndSp...,95110,17712,352093,514,16547,169,71554,242,0,COVID-19 á€›á€±á€¬á€‚á€« á€…á€±á€¬á€„á€·á€ºá€€á€¼á€•á€º á€€á€¼á€Šá€·á€ºá€›á€¾á€¯ á€™á€¾á€¯ á€”á€¾á€„á€·á€º á€•...,NaN
4,"Ministry of Health and Sports, Myanmar",https://www.facebook.com/MinistryOfHealthAndSp...,9115,245,2801,829,9,3,25,0,0,COVID-19 á€€á€¬á€€á€½á€šá€º á€‘á€­á€”á€ºá€¸á€á€»á€¯á€•á€º á€€á€¯á€ á€›á€±á€¸ á€¡á€á€½á€€á€º á€™á€­á€™á€­ ...,NaN

Empty DataFrame
Columns: [post_id, c_id, n_id, profile_id, datetime, likes_x, comment_message, lex_found_x, post_url, page_name, comments, shares, love, wow, haha, sad, angry, thankful, likes_y, post_message, lex_found_y]
Index: []

[0 rows x 21 columns]

In [4]:
from glob import glob
post_files = glob('/home/bupi/Documents/pdy/hs/dashboard/clean/posts/*.csv')
print(len(post_files))

7

In [7]:
for pf in post_files:
    display(pd.read_csv(pf, nrows=1))

,page_name,post_url,comments,shares,love,wow,haha,sad,angry,thankful,likes,post_message,lex_found
0,Mizzima - News in Burmese,https://www.facebook.com/MizzimaDaily/posts/31...,148064,4014,43201,1387,1141,243,160,88,0,á€€á€¬á€¸ á€ á€”á€¾á€…á€º á€† á€á€±á€¬á€„á€ºá€¸ á á€•á€”á€ºá€¸ á€á€±á€¬á€º á€¦á€¸ á€šá€¬á€‰á€º á€œá€­á€¯á€„á€ºá€¸...,NaN

,page_name,post_url,comments,shares,love,wow,haha,sad,angry,thankful,likes,post_message,lex_found
0,"Ministry of Electricity and Energy,Myanmar",https://www.facebook.com/MOEEMyanmar/posts/924...,12216,1677,11146,172,248,24,198,13,0,á€•á€¼á€Šá€º á€á€°á€™á€»á€¬á€¸ á€á€­á€¯á€· á€œá€»á€¾á€•á€ºá€…á€…á€ºá€™á€®á€¸ á€•á€¼á€á€ºá€á€±á€¬á€€á€º á€”á€± á€™á€¾á€¯ ...,NaN

,page_name,post_url,comments,shares,love,wow,haha,sad,angry,thankful,likes,post_message,lex_found
0,ApannPyay,https://www.facebook.com/ApannPyay/posts/36268...,33122,21539,45983,107,3754,526,870,11354,0,á€á€ á€œá€±á€¸ á€á€Šá€ºá€¸á€á€¶ á€•á€¼á€®á€¸ á€¡á€…á€…á€ºá€á€¶ á€œá€­á€¯á€€á€º á€›á€„á€º á€˜á€¬ á€™á€»á€¬á€¸ á€–á€¼...,NaN

,page_name,post_url,comments,shares,love,wow,haha,sad,angry,thankful,likes,post_message,lex_found
0,MOI Webportal Myanmar,https://www.facebook.com/MOIWebportalMyanmar/p...,8621,1037,7258,44,141,189,51,15,0,á€•á€¼á€Šá€ºá€‘á€±á€¬á€„á€ºá€…á€¯ á€á€™á€¹á€™á€ á€™á€¼á€”á€ºá€™á€¬á€”á€­á€¯á€„á€ºá€„á€¶ á€á€±á€¬á€º á€¡á€…á€­á€¯á€¸á€› á€€á€»...,NaN

,page_name,post_url,comments,shares,love,wow,haha,sad,angry,thankful,likes,post_message,lex_found
0,AKonThi,https://www.facebook.com/AKonThiNEWS/posts/117...,33769,858,57029,1256,44,80,35,7,0,á€”á€­á€¯á€„á€ºá€„á€¶á€á€±á€¬á€º á á€¡á€á€­á€¯á€„á€ºá€•á€„á€ºá€á€¶ á€•á€¯á€‚á€¹á€‚á€­á€¯á€œá€º á€’á€±á€«á€º á€¡á€±á€¬á€„á€º...,NaN

,page_name,post_url,comments,shares,love,wow,haha,sad,angry,thankful,likes,post_message,lex_found
0,PK online store,https://www.facebook.com/pkonline2020/posts/20...,49324,306,28430,292,895,64,3401,41,0,á€¡á€œá€±á€¬á€„á€ºá€¸ á€‘á€¬á€¸ á€…á€›á€¬ á€”á€±á€›á€¬ á€¡á€á€€á€º á€á€² á€–á€¼á€…á€º á€”á€± á€á€šá€º á€á€²á€· á€…...,NaN

,page_name,post_url,comments,shares,love,wow,haha,sad,angry,thankful,likes,post_message,lex_found
0,á€•á€¼á€Šá€ºá€á€á€„á€ºá€¸ Live,https://www.facebook.com/pyaynewslive/posts/87...,14748,1440,11866,317,495,34,5339,36,0,á€•á€¼á€Šá€º á€™á€¼á€­á€¯á€· á€†á€±á€¸á€›á€¯á€¶ á€€á€¼á€®á€¸ á€á€½á€„á€º á€€á€¯á€ á€œá€»á€¾á€€á€º á€›á€¾á€­ á€á€±á€¬ ...,NaN

In [6]:
POST_COLS2LOAD = [
        'Page Name',
        'URL',
        'Likes',
        'Comments',
        'Shares',
        'Love',
        'Wow',
        'Haha',
        'Sad',
        'Angry',
        'Thankful',
        'MsgUniCleanSeg'
    ]
POST_COL_NAMES = 'page_name	likes	comments	shares	love	wow	haha	sad	angry	thankful	post_url	post_message'.split()